[
    { rabbit, [
        { loopback_users, [ ] },
        { tcp_listeners, [5672] },
        { ssl_listeners, [5671] },
        { ssl_options, [
            { cacertfile,"/home/ssl/ca/cacert.pem" },
            { certfile,"/home/ssl/server/cert.pem" },
            { keyfile,"/home/ssl/server/key.pem" },
            { fail_if_no_peer_cert,true },
            { verify,verify_peer },
            { ssl_cert_login_from, common_name },
            { versions, ['tlsv1.2', 'tlsv1.1'] }
        ]},
        { auth_mechanisms, ['PLAIN', 'EXTERNAL'] },
        { hipe_compile, false }
    ]},
    { rabbitmq_management,
        [
            { listener,
                [
                    { port, 15672 },
                    { ssl, false }
                ]
            },
            { load_definitions, "/mnt/rabbitmq/config/rabbitmq-defs.json" }
        ]
    }
].
